name: Publish and Package

on:
  push:
    branches:
      - master
      - 'publish/*'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '7.*'

    - name: Get branch name
      id: get_branch
      run: echo "::set-output name=branch::$(echo ${GITHUB_REF#refs/heads/})"

    - name: Get commit hash
      id: get_commit
      run: echo "::set-output name=commit::${GITHUB_SHA::8}"

    - name: Publish for Win-x64
      run: dotnet publish -c release -r win-x64 -o ./out/win-x64 --no-self-contained

    - name: Upload artifact for Win-x64
      uses: actions/upload-artifact@v2
      with:
        name: published-artifacts-win-x64-${{ steps.get_branch.outputs.branch }}-${{ steps.get_commit.outputs.commit }}-${{ github.run_number }}
        path: ./out/win-x64

  build-linux:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '7.*'

    - name: Get branch name
      id: get_branch
      run: echo "::set-output name=branch::$(echo ${GITHUB_REF#refs/heads/})"

    - name: Get commit hash
      id: get_commit
      run: echo "::set-output name=commit::${GITHUB_SHA::8}"

    - name: Publish for Linux-x64
      run: dotnet publish -c release -r linux-x64 -o ./out/linux-x64 --no-self-contained

    - name: Upload artifact for Linux-x64
      uses: actions/upload-artifact@v2
      with:
        name: published-artifacts-linux-x64-${{ steps.get_branch.outputs.branch }}-${{ steps.get_commit.outputs.commit }}-${{ github.run_number }}
        path: ./out/linux-x64
